<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBB0Th6HojowikvDoqnjFoOmqJ7TtoxXc</string>
	<key>GCM_SENDER_ID</key>
	<string>251986024145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniil.Alias</string>
	<key>PROJECT_ID</key>
	<string>simple-alias</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-alias.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251986024145:ios:62b55f107d9d421b2497f0</string>
</dict>
</plist>